/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
/* @tailwind components; */

/* .xButton {
	@apply btn variant-ringed-primary py-0.5 px-2.5;
} */

/* .selectedLetter {
	@apply variant-filled-success;
} */
